.main {
    background-image: url("../../../assets/images/facview.png");
    height:99vh;
    overflow: auto;
    background-size: 101%;
    background-position: right left;
    background-repeat: no-repeat; 
}

.upload{
    margin:150px;
   left:550px;
   width: fit-content;
    position: absolute; 
    

}

.subject{
   top: 300px;
   left:250px;
position: absolute;

}
.s2{
    top:2px;
    left:200px;
    position: absolute;
}
.topic{
    top: 350px;
    left:250px;
 position: absolute;
}