<div class="displayTable">
  <div class="displayTableCell">

      <div class="px-logo">
        <img src="assets/images/formlogo.JPG" alt="coTrackerlogo">
    </div>
  
    <div class="authBlock">
      <h3>Thank you for Signing up</h3>

      <div class="formGroup" *ngIf="authService.userData as user" style="color:rgb(0, 0, 0);">
        <p class="text-center" >We have sent a confirmation email to <strong>{{user.email}}</strong></p>
        <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
      </div>

      <!-- Calling SendVerificationMail() method using authService Api -->
      <div class="formGroup">
        <button type="button" class="btn btnPrimary" style="width:250px ; height: 40px" margin-left="100px" (click)="authService.SendVerificationMail()">
          <i class="fas fa-redo-alt"></i>
          Resend Verification Email
        </button>
      </div>

    </div>

    <div class="redirectToLogin">
      <span>Go back to?<span class="redirect" routerLink="/sign-in"> Sign in</span></span>
    </div>

  </div>
</div>
