<div class="main_pic">
    <div class="container">
        <div class="grid">
        <div class="row">
                <div class="col-sm-3">
                   <mat-card class="example-card">
                       <img mat-card-image src="../../../assets/images/sempic.png">
                       <mat-card-content>
                           <div class="com" routerLink="/student-view"> <button>I Year Sem-1</button></div>
                       </mat-card-content>
                  </mat-card>
               </div>
                <div class="col-sm-3">
                   <mat-card class="example-card">
                    <img mat-card-image src="../../../assets/images/sempic.png">
                       <mat-card-content>
                           <div class="com" routerLink="/student-view"><button>I Year Sem-2</button></div>
                       </mat-card-content>
                       </mat-card>
                     
                </div>
                <div class="col-sm-3">
                    <mat-card class="example-card">
                        <img mat-card-image src="../../../assets/images/sempic.png">
                        <mat-card-content>
                            <div class="com" routerLink="/student-view"><button>II Year Sem-1</button></div>
                        </mat-card-content>
                        </mat-card>
                      
                 </div> 
                 <div class="col-sm-3">
                    <mat-card class="example-card">
                     <img mat-card-image src="../../../assets/images/sempic.png">
                        <mat-card-content>
                            <div class="com" routerLink="/student-view"><button>II Year Sem-2</button></div>
                        </mat-card-content>
                    </mat-card>
                 </div>
               
                </div> 
                <div class="row">
                 <div class="col-sm-3">
                    <mat-card class="example-card">
                        <img mat-card-image src="../../../assets/images/sempic.png">
                        <mat-card-content>
                            <div class="com" routerLink="/student-view"><button>III Year Sem-1</button></div>
                        </mat-card-content>
                        </mat-card>
                      
                 </div>
                <div class="col-sm-3">
                   <mat-card class="example-card">
                    <img mat-card-image src="../../../assets/images/sempic.png">
                       <mat-card-content>
                           <div class="com" routerLink="/student-view"><button>III Year Sem-2</button></div>
                       </mat-card-content>
                   </mat-card>
                </div>
                <div class="col-sm-3">
                    <mat-card class="example-card">
                     <img mat-card-image src="../../../assets/images/sempic.png">
                        <mat-card-content>
                            <div class="com" routerLink="/student-view"><button>IV Year Sem-1</button></div>
                        </mat-card-content>
                    </mat-card>
                 </div>
               
                 <div class="col-sm-3">
                    <mat-card class="example-card">
                     <img mat-card-image src="../../../assets/images/sempic.png">
                        <mat-card-content>
                            <div class="com" routerLink="/student-view"><button>IV Year Sem-2</button></div>
                        </mat-card-content>
                    </mat-card>
                 </div>
               
                </div>
            </div>
        </div>
    </div>
    
    






    